*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    font-family: "Caveat", serif;
    scroll-behavior: smooth;
    color: #000;
  }


body {
    display:grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
    background-image: url("background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding:10px;
}

.container{
    background-color: #ffffff;
    padding:10px;
    border-radius: 20px;
}

.container_yes{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
}

#yesButton {
    position: absolute;
    margin-right: 150px;
}

.header_text {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-top: 20px;
}

.header_text_yes {
    font-size: 60px;
    font-weight: 500;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom:15px;
}

.btn {
    background-color: #ffffff;
    text-align: center;
    display: inline-block;
    font-family: "Caveat", serif;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    color:#000;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}

@media only screen and (max-width: 320px) and (max-height: 568px) {
    img {
        height: 2vh;
    }

    .btn {
        font-size: 12px;
    }
}

@media only screen and (max-width: 414px) and (max-height: 736px) {
    .header_text {
        font-size: 16px;
    }

    .btn {
        font-size: 14px;
    }
}
